InstagramViewer/\.gradle/4\.6/fileChanges/last-build\.bin

InstagramViewer/\.gradle/4\.6/fileContent/fileContent\.lock

InstagramViewer/\.gradle/4\.6/fileHashes/fileHashes\.bin

InstagramViewer/\.gradle/4\.6/fileHashes/fileHashes\.lock

InstagramViewer/\.gradle/4\.6/fileHashes/resourceHashesCache\.bin

InstagramViewer/\.gradle/4\.6/javaCompile/classAnalysis\.bin

InstagramViewer/\.gradle/4\.6/javaCompile/jarAnalysis\.bin

InstagramViewer/\.gradle/4\.6/javaCompile/javaCompile\.lock

InstagramViewer/\.gradle/4\.6/javaCompile/taskHistory\.bin

InstagramViewer/\.gradle/4\.6/javaCompile/taskJars\.bin

InstagramViewer/\.gradle/4\.6/taskHistory/taskHistory\.bin

InstagramViewer/\.gradle/4\.6/taskHistory/taskHistory\.lock

InstagramViewer/\.gradle/buildOutputCleanup/buildOutputCleanup\.lock

InstagramViewer/\.gradle/buildOutputCleanup/cache\.properties

InstagramViewer/\.gradle/buildOutputCleanup/outputFiles\.bin

InstagramViewer/\.gradle/vcsWorkingDirs/gc\.properties

InstagramViewer/\.idea/*

InstagramViewer/app/app\.iml

InstagramViewer/app/build/*

InstagramViewer/InstagramViewer\.iml

InstagramViewer/local\.properties

MyInstagram/\.idea/assetWizardSettings\.xml

MyInstagram/\.idea/caches/build_file_checksums\.ser

MyInstagram/\.idea/misc\.xml
MyInstagram/\.idea/*

